html{
    --blue  : rgb(56, 56, 255);
    --yellow: rgb(250, 250, 94);
    font-size: 20px;
}

body{
   margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}


.icon{
    font-size: 30px;
}
.add{
    font-size: 20px;
    border: 1px solid green;
    color: white;
    background-color: green;
    padding: 1rem;
    border-radius: 12px;
    margin: 1rem;
    overflow: hidden;
    cursor: pointer;
}

.add:hover{
    background-color: rgb(2, 88, 2);
    transition: all .2s;
}

.add:hover span{
    display: inline-block;
    animation: addBtnFile .2s 1 linear forwards;
}

.valid{
    border: 2px solid green;
}

.error{
    border: 2px solid tomato;
}

td, th {
    overflow: auto;
    max-width: 350px;
    text-align: center;
    padding: 10px;
}

