@import url(./global.css);

header{
    position: sticky;
    top: 0;
    z-index: 2;
}

header, .navigation{
    background-color: var(--blue);
}

header > nav{
    display: flex;
    justify-content: space-evenly;
}

header > nav > div{
    padding: 1rem;
    text-align: center;
    font-size: .8rem;
    color: white;
    font-weight: bold;
}

main{
    display: flex;
}

.navigation{
    width: 300px;
    top: calc(2.8rem);
    height: calc(100vh - 2.8rem);
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  
}

.navigation li a{
    text-decoration: none;
    display: block;
    padding: 1rem;
    color: white;
    line-height: 2rem;
    cursor: pointer;
}

.navigation li a:hover, nav div:hover{
    background-color: var(--yellow);
    color: var(--blue);
    transition: all .8s;
}

main section{
    width: 100%;
}

table{
    border-collapse: collapse;
    width: 100%;
    /* height: 100%; */
}

table, td, th {
    border: 1px solid black;
}

thead{
    max-height: 30px;
}

.container-modal{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: repeating-linear-gradient(25deg, rgba(192, 192, 192, .2) 10px, rgba(77, 77, 77, .2) 30px);
}

.modal{
    width: 80%;
    min-height: 50vh;
    background: white;
    border: 1px solid var(--blue);
}

.active{
    display: flex;
}


@keyframes addBtnFile {
    from{
        transform: translateY(-10vh);
    }
    to{
        transform: translateY(0);
    }
}
